.footer {
  background-color: black;
  padding: 1em;
  text-align: right;
  margin: 0;
}

.contact-info {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 2em;
  float: left;
  padding: 2em 0;
}

.order {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 5em;
  padding: 2em 0;
}

input[type=text] {
  height: 2em;
  margin: 1em 1em 1em 0;
}

.submit {
  font-weight: 600;
  border-radius: 5px;
  height: 2em;
  width: 7em;
  border: 2px solid #CCCCCC;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: darkblue;
}

.footer-item {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .order {
    display: flex;
    flex-direction: column;
  }

  input[type=text] {
    width: 10em;
  }
}
